{% extends 'base.html'%}
{% load static %}
{% block content %}

<form id="payment-form" class="flex flex-col items-center justify-center  mb-16 px-4">
    {% csrf_token %}
        <button type="submit" class="bg-green-600 border border-primary text-white px-4 py-3 font-medium rounded-md  hover:bg-green-700 hover:text-primary transition text-sm w-full md:max-w-md block text-center">
            <img src="{% static 'images/tele.png' %}" alt="Payment Image" class="inline-block mr-2 h-4">
            Pay with telebirr
        </button>
    
</form>
<div class="flex justify-center">
    <div class="w-full md:max-w-md">
        <a href="{% url 'home' %}" class="bg-blue-600 border border-primary text-white px-4 py-3 font-medium rounded-md uppercase hover:bg-blue-700 hover:text-primary transition text-sm w-full md:max-w-md block text-center">
            Back to Store
        </a>
    </div>
</div>
<a href="{% url 'home' %}" class="text-blue-500 hover:text-blue-700 mt-4 inline-block">Back to Home</a>

  <script>
    $(document).ready(function() {
        $('#payment-form').submit(function(event) {
            // Prevent the default form submission
            event.preventDefault();
    
            // Serialize the form data
            var formData = $(this).serialize();
    
            // Send an AJAX POST request to your backend server
            $.ajax({
                type: 'POST',
                url: '{% url 'make_payment' %}',  // Update the URL to your endpoint
                data: formData,
                success: function(response) {
                     // Redirect the user to the Telebirr H5 Web Payment URL
                    window.location.href = response.toPayUrl;
                    // You can redirect the user to a success page or do any other actions here
                },
                error: function(xhr, errmsg, err) {
                    // Handle any errors
                    console.log('Error occurred:', errmsg);
                }
            });
        });
    });
    
</script> 
{% endblock %}
