{% extends 'base.html'%}
{% load static %}
{% block content %}
<section class="" style=" min-height: 20vh; @media (min-width: 768px) { min-height: 55vh; }">
     <!-- cart wrapper -->
     <div class="pt-4 pb-6  items-center px-4 sm:px-8 md:px-16 lg:px-32 xl:px-32 2xl:max-w-9xl 2xl:mx-auto ">
        {% if not cart_items %}
        <h2 class="text-center">Your shopping cart is Empty</h2>
        <br>
        <div class="text-center min-h-full">
            <a href="{% url 'store' %}" class="btn btn-primary">Continue shopping</a>
        </div>
        {% else %}
     <div class="container lg:grid grid-cols-12 gap-6 items-start pb-16 pt-4 ">
        <!-- product cart -->
        <div class="xl:col-span-9 lg:col-span-8">
            <!-- cart title -->
            <div class="bg-gray-200 py-2 pl-12 pr-20 xl:pr-28 mb-4 hidden md:flex">
                <p class="text-gray-600 text-center">Product</p>
                <p class="text-gray-600 text-center ml-auto mr-16 xl:mr-24">Quantity</p>
                <p class="text-gray-600 text-center">Total</p>
            </div>
            <!-- cart title end -->

            <!-- shipping carts -->
            <div class="space-y-4">
                {% for cart_item in cart_items %}
                <!-- single cart -->
                <div
                    class="flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-200 rounded flex-wrap md:flex-nowrap">
                    <!-- cart image -->
                    <div class="w-32 flex-shrink-0">
                        {% with cart_item.product.get_main_image as main_image %}
                                        {% if main_image %}
                                            <img src="{{ main_image.image.url }}" class="w-ful">
                                        {% endif %}
                                        {% endwith %}
                    </div>
                    <!-- cart image end -->
                    <!-- cart content -->
                    <div class="md:w-1/3 w-full">
                        <h2 class="text-gray-800 mb-3 xl:text-xl textl-lg font-medium uppercase">
                            <a href="{{ cart_item.product.get_store_url }}">
                            {{ cart_item.product.product_name }}</a>
                        </h2>
                        <p class="text-primary font-semibold">{{cart_item.product.product_price}} br</p>

                        <p class="text-gray-500">{% if cart_item.variations.all %}
                            {% for item in cart_item.variations.all %}
                            {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }}<br>

                            {% endfor %}
                            {% endif %}</p>
                    </div>
                    <!-- cart content end -->
                    <!-- cart quantity -->
                    <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300">
                        <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none"> <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"
                                               class="btn btn-light" type="button" id="button-plus"> <i
                                                    class="fa fa-minus"></i> </a></div>
                        <div class="h-8 w-10 flex items-center justify-center">{{ cart_item.quantity }}</div>
                        <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none"> <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                            {% csrf_token %}
                            {% for item in cart_item.variations.all %}
                            <input type="hidden" name="{{ item.variation_category | lower }}"
                                   value="{{ item.variation_value | capfirst }}">
                            {% endfor %}
                            <button class="btn btn-light custom-button" type="submit"
                                    id="button-minus"><i
                                    class="fa fa-plus"></i></button>
                        </form></div>
                    </div>
                    <!-- cart quantity end -->
                    <div class="ml-auto md:ml-0">
                        <p class="text-primary text-lg font-semibold">{{cart_item.each_product_total}}br</p>
                    </div>
                    <div class="text-gray-600 hover:text-primary cursor-pointer">
                        <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" onClick="return confirm('Are you want to delete this item">
                        <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
                <!-- single cart end -->
                {% endfor %}
            </div>
            <!-- shipping carts end -->
        </div>
        <!-- product cart end -->
        <!-- order summary -->
        <div class="xl:col-span-3 lg:col-span-4 border border-gray-200 px-4 py-4 rounded mt-6 lg:mt-0">
            <h4 class="text-gray-800 text-lg mb-4 font-medium uppercase">ORDER SUMMARY</h4>
            <div class="space-y-1 text-gray-600 pb-3 border-b border-gray-200">
                <div class="flex justify-between font-medium">
                    <p>Subtotal</p>
                    <p>{{total}} br</p>
                </div>
                <div class="flex justify-between">
                    <p>Delivery</p>
                    <p>Free</p>
                </div>
                <div class="flex justify-between">
                    <p>Tax</p>
                    <p>{{tax}} br</p>
                </div>
            </div>
            <div class="flex justify-between my-3 text-gray-800 font-semibold uppercase">
                <h4>Total</h4>
                <h4>{{grand_total}} br</h4>
            </div>

            <!-- searchbar -->
            <div class="flex mb-5">
                <input type="text"
                    class="pl-4 w-full border border-r-0 border-primary py-2 px-3 rounded-l-md focus:ring-primary focus:border-primary text-sm"
                    placeholder="Coupon">
                <button type="submit"
                    class="bg-pink-800 border border-primary text-white px-5 font-medium rounded-r-md hover:bg-pink-400 hover:text-primary transition text-sm font-roboto">
                    Apply
                </button>
            </div>
            <!-- searchbar end -->

            <!-- checkout -->
            <p class="text-center mb-3">
                <img src="{% static 'images/pay.jpg' %}" height="26">
            </p>
            <a href="checkout.html" class="bg-red-600 border border-primary text-white px-4 py-3 font-medium rounded-md uppercase hover:bg-pink-400
             hover:text-primary transition text-sm w-full block text-center">
                Process to checkout
            </a>
            <a href="{% url 'store' %}" class="bg-blue-600 border border-primary text-white px-4 py-3 font-medium rounded-md uppercase hover:bg-pink-400
             hover:text-primary transition text-sm w-full block text-center">
             Continue Shopping
            </a>
            <!-- checkout end -->
        </div>
        <!-- order summary end -->
    </div>
    {% endif %}
</div>
    <!-- cart wrapper end -->
</section>
{% endblock %}