{% load static %}
 {% block content %}

<!-- footer -->

<div class="absolute w-full bg-slate-500 pt-16 pb-12 border-gray-100">
  <div class="container">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <!-- footer text -->
      <div class="space-y-8 xl:col-span-1">
        <a href="{% url 'home' %}" class="brand-wrap w-16 ">
            <img class="logo" src="{{footer.company_logo.url}}" alt="logo" />
        </a>
        <p class="text-white text-base">
          {{footer.company_description}}
        </p>
        <div class="flex space-x-6">
          <a href="#" class="text-white hover:text-red-600">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="text-white hover:text-red-600">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="text-white hover:text-red-600">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="text-white hover:text-red-600">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <!-- footer text end -->
      <!-- footer links -->
      <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3
              class="text-sm font-semibold text-white tracking-wider uppercase"
            >
              Found Us 
            </h3>
            <div class="mt-4 space-y-4">
              <a
                href="#"
                class="text-base text-white hover:text-gray-900 block"
              >
             {{footer.email}}
              </a>
              <a
                href="#"
                class="text-base text-white hover:text-gray-900 block"
              >
              +{{footer.phone_number}}
              </a>
              <a
                href="#"
                class="text-base text-white hover:text-gray-900 block"
              >
              weatherall str , Addis Ababa
              </a>
            </div>
          
          </div>
          <div class="mt-12 md:mt-0 hidden sm:block">
            <h3
              class="text-sm font-semibold text-white tracking-wider uppercase"
            >
              About us
            </h3>
            <div class="mt-4 space-y-4">
              <a
                href="#"
                class="text-base text-white hover:text-gray-900 block"
              >
                Blog
              </a>

            </div>
          </div>
        </div>
        
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div class="pl-4 md:pl-auto">
            <h3
              class="text-sm font-semibold text-white tracking-wider uppercase "
            >
              Legal
            </h3>
            <div class="mt-4 space-y-4">
              <a
                href="#"
                class="text-base text-white hover:text-gray-900 block"
              >
                Privacy
              </a>
            </div>
          </div>
          <div class="pl-4 md:pl-auto hidden sm:block">
            <h3
              class="text-sm font-semibold text-white tracking-wider uppercase "
            >
              Legal
            </h3>
            <div class="mt-4 space-y-4">
              <a
                href="#"
                class="text-base text-white hover:text-gray-900 block"
              >
                Privacy
              </a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</div>
<!-- copyright -->
<div class="bg-gray-800 pt-4 py-0 md:py-4  absolute w-full mt-[650px] md:mt-[260px]">
  <div class="container flex items-center justify-between">
    <p class="text-white text-base md:text-lg">©copy 2023 Tanabeles</p>
    <div class="col-md-8 text-md-center">
      <span class="px-1 md:px-2 text-white text-base md:text-lg">Powered by</span>
      <a href="#" ="_blanch",class="px-1 md:px-2 text-white text-base md:text-lg">msigana software designer</a>
    </div>
    <div>
      <img src="{% static 'images/methods.png' %}" class="h-5" />

    </div>
  </div>
</div>
<!-- copyright end -->

{% endblock %}
