{% load static %}
 {% block content %}

<!-- footer -->
<div class=" w-full bg-slate-50 pt-16 border-gray-100 items-center px-4 sm:px-8 md:px-16 lg:px-32 xl:px-64 2xl:max-w-9xl 2xl:mx-auto pb-6 md:pb-8">
   <div class="container">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="space-y-8 xl:col-span-1">
          <a href="{% url 'home' %}" class="brand-wrap">
            {% if not footer.footer_company_logo.url %}
            <p>Please insert footer company logo</p>
            {% else %}
            <img class="w-64 h-32 object-cover overflow-hidden" src="{{footer.footer_company_logo.url}}" alt="logo" />
            {% endif %}
          </a>
          <p class="text-base">
          {{footer.company_description}}
          </p>
          <div class="flex space-x-6">
            <a href="#" class=" hover:text-red-600">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class=" hover:text-red-600">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class=" hover:text-red-600">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class=" hover:text-red-600">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      <!-- footer links -->
        <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-base font-semibold text-green-400 tracking-wider uppercase">
              Found Us 
              </h3>
              <div class="mt-4 space-y-4">
                <a href="#" class="text-sm md:text-lg hover:text-gray-900 block">
                 {{footer.email}}
                </a>
                <a
                  href="tel:{{footer.phone_number}}"
                  class="text-sm md:text-lg hover:text-gray-900 block">
                  {{footer.phone_number|slice:":2"}}-{{footer.phone_number|slice:"2:4"}}-{{footer.phone_number|slice:"4:6"}}-{{footer.phone_number|slice:"6:8"}}-{{footer.phone_number|slice:"8:"}}
                </a>
                <a href="#" class="text-sm md:text-lg hover:text-gray-900 block">
                  Addis Ababa
                </a>
              </div>
           </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div class="pl-4 md:pl-auto">
            <h3
              class="text-base font-semibold text-green-400 tracking-wider uppercase "
            >
              Importan Links
            </h3>
            <div class="mt-4 space-y-4">
              <a href="{% url 'privacy-policy' %}" class="text-sm md:text-lg hover:text-gray-900 block" >
                Privacy Policy  
              </a>
              <a href="{% url 'contact-us' %}"
              class="text-sm md:text-lg hover:text-gray-900 block">
              Contact Us 
            </a>
            <a href="{% url 'post_list' %}" class="text-sm md:text-lg hover:text-gray-900 block">
            Blog 
          </a>
          <a href="{% url 'about-us' %}" class="text-sm md:text-lg hover:text-gray-900 block">
          About Us
        </a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
</div>
</div>
<div class="bg-gray-800 mb-16 md:mb-0  px-2 md:px-8 lg:px-16 xl:px-48 w-full"> 
  <div class="bg-gray-800 py-4  md:py-4  w-full">
    <div class="container flex items-center justify-between">
      <p class="text-white text-base md:text-lg"><p>Copyright &copy; <span id="copyright-year"></span>
      <div class="col-md-8 text-md-center">
        <span class="px-1 md:px-2 text-base md:text-lg">Developed by</span>
        <a href="#" class="px-1 md:px-2 text-white text-base md:text-lg">msigana.com</a>
      </div>
      <div>
        <img src="{% static 'images/methods.png' %}" class="w-6  md:w-auto md:h-5" />
      </div>
    </div>
  </div>
</div>
  <script>
    document.getElementById("copyright-year").innerHTML = new Date().getFullYear();
  </script>
<!-- copyright -->

<!-- copyright end -->

{% endblock %}
