{% extends 'base.html' %} {% load static %} {% block content %}
<div class="grid grid-cols-4 gap-2">
  <div class="col-span-1 bg-white h-screen fixed overflow-auto md:block hidden">
    <div class="p-6 pt-0">
      <a class="dropdown-item text-rose-600" href="{% url 'store' %}">All products</a>
      {% for category in links %}
      <a
        class="block py-2 px-4 text-gray-700 hover:bg-gray-100 rounded"
        href="{{ category.get_url }}"
        data-category-slug="{{ category.category_slug }}"
        >{{ category.category_name }}</a
      >
      {% endfor %}
    </div>
  </div>
  <div class="col-span-4 md:pl-64">
    <section class="section-name">
      <!-- banner -->
      <div
        class="bg-cover bg-no-repeat bg-center py-36 relative"
        style="background-image: url('{% static 'images/banner-bg.jpg' %}')"
      >
        <div class="container">
          <!-- banner content -->
          <h1
            class="xl:text-6xl md:text-5xl text-4xl text-gray-800 font-medium mb-4"
          >
            Best Software For <br class="hidden sm:block" />
            Business solutions
          </h1>
          <p class="text-base text-gray-600 leading-6">
            Msigana software designer is a software development company that provides, web design, 
            web development, 
            <br class="hidden sm:block" />
            mobile app development, digital marketing, and software development services.
          </p>
          <!-- banner button -->
          <div class="mt-12">
            <a
              href="{% url 'store' %}"
              class="bg-primary border border-primary text-white px-8 py-3 font-medium rounded-md uppercase hover:bg-transparent hover:text-primary transition"
            >
              Shop now
            </a>
          </div>
       
        </div>
      </div>
      <!-- banner end -->
      <div class="container">
        <header class="section-heading">
          <h3 class="section-title">New products</h3>
        </header>
        <div id="product-list" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-1 md:gap-3 sm:mr-64">
          {% for product in products %}
          <div class="flex flex-col">
              <div class="m-2 bg-white shadow-md rounded-lg overflow-hidden flex-grow">
                  <a href="{{product.get_store_url}}" class="relative">
                      <div class="w-full sm:h-32 md:h-64 overflow-hidden">
                          {% with product.get_main_image as main_image %}
                          {% if main_image %}
                              <img class="w-full h-full object-cover" src="{{ main_image.image.url }}" alt="{{ product.product_name }}">
                              <div class="absolute inset-0 flex items-center justify-center">
                                  <span class="text-gray-600 text-lg md:text-2xl  p-2 rounded">tanabeles</span>
                              </div>
                          {% endif %}
                          {% endwith %}
                      </div>
                  </a>
              <div class="sm:p-3 md:p-6">
                <a
                  href="{{product.get_store_url}}"
                  class="block text-lg font-semibold text-gray-800 hover:text-blue-600"
                  >{{product.product_name | capfirst}}</a
                >
                <div class="my-2 md:my-4 text-blue-600 md:text-xl">
                  {% load price_filters%}
                  {{ product.product_price|discounted_price }}br
                  <span class="text-gray-500 text-base line-through">{{ product.product_price }}br</span>
                </div>
              </div>
              <div class="bg-blue-600  hover:text-purple-400 text-center py-2 rounded-b">
                <a href="{{product.get_store_url}}" class="text-white  w-full inline-block">Show Details</a>
            </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- ad section -->
       
          <a href="#" class="pr-2 md:pr-64">
            <img src="{% static 'images/offer.jpg' %}" />
          </a>
      
        <!-- ad section end -->

        <!-- recomended for you -->
        <div class="container pb-16 lg:pr-64">
          <h2
            class="text-2xl md:text-3xl font-medium text-gray-800 uppercase mb-6"
          >
            recomended for you
          </h2>
          <!-- product wrapper -->
          <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-6">
            <!-- single product -->
            <div class="group rounded bg-white shadow overflow-hidden">
              <!-- product image -->
              <div class="relative">
                <img
                  src="{% static 'images/products/product2.jpg' %}"
                  class="w-full"
                />
                <div
                  class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
                >
                  <a
                    href="view.html"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="fas fa-search"></i>
                  </a>
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="far fa-heart"></i>
                  </a>
                </div>
              </div>
              <!-- product image end -->
              <!-- product content -->
              <div class="pt-4 pb-3 px-4">
                <a href="view.html">
                  <h4
                    class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
                  >
                    Guyer chair
                  </h4>
                </a>
                <div class="flex items-baseline mb-1 space-x-2">
                  <p class="text-xl text-primary font-roboto font-semibold">
                    $45.00
                  </p>
                  <p class="text-sm text-gray-400 font-roboto line-through">
                    $55.00
                  </p>
                </div>
                <div class="flex items-center">
                  <div class="flex gap-1 text-sm text-yellow-400">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                  </div>
                  <div class="text-xs text-gray-500 ml-3">(150)</div>
                </div>
              </div>
              <!-- product content end -->
              <!-- product button -->
              <a
                href="#"
                class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition"
              >
                Add to Cart
              </a>
              <!-- product button end -->
            </div>
            <!-- single product end -->
            <!-- single product -->
            <div class="group rounded bg-white shadow overflow-hidden">
              <!-- product image -->
              <div class="relative">
                <img
                  src="{% static 'images/products/product3.jpg' %}"
                  class="w-full"
                />
                <div
                  class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
                >
                  <a
                    href="view.html"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="fas fa-search"></i>
                  </a>
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="far fa-heart"></i>
                  </a>
                </div>
              </div>
              <!-- product image end -->
              <!-- product content -->
              <div class="pt-4 pb-3 px-4">
                <a href="#">
                  <h4
                    class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
                  >
                    Guyer chair
                  </h4>
                </a>
                <div class="flex items-baseline mb-1 space-x-2">
                  <p class="text-xl text-primary font-roboto font-semibold">
                    45.00br
                  </p>
                  <p class="text-sm text-gray-400 font-roboto line-through">
                    55.00br
                  </p>
                </div>
                <div class="flex items-center">
                  <div class="flex gap-1 text-sm text-yellow-400">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                  </div>
                  <div class="text-xs text-gray-500 ml-3">(150)</div>
                </div>
              </div>
              <!-- product content end -->
              <!-- product button -->
              <a
                href="#"
                class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition"
              >
                Add to Cart
              </a>
              <!-- product button end -->
            </div>
            <!-- single product end -->
            <!-- single product -->
            <div class="group rounded bg-white shadow overflow-hidden">
              <!-- product image -->
              <div class="relative">
                <img
                  src="{% static 'images/products/product4.jpg' %}"
                  class="w-full"
                />
                <div
                  class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
                >
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="fas fa-search"></i>
                  </a>
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="far fa-heart"></i>
                  </a>
                </div>
              </div>
              <!-- product image end -->
              <!-- product content -->
              <div class="pt-4 pb-3 px-4">
                <a href="#">
                  <h4
                    class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
                  >
                    Guyer chair
                  </h4>
                </a>
                <div class="flex items-baseline mb-1 space-x-2">
                  <p class="text-xl text-primary font-roboto font-semibold">
                    45.00br
                  </p>
                  <p class="text-sm text-gray-400 font-roboto line-through">
                    55.00br
                  </p>
                </div>
                <div class="flex items-center">
                  <div class="flex gap-1 text-sm text-yellow-400">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                  </div>
                  <div class="text-xs text-gray-500 ml-3">(150)</div>
                </div>
              </div>
              <!-- product content end -->
              <!-- product button -->
              <a
                href="#"
                class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition"
              >
                Add to Cart
              </a>
              <!-- product button end -->
            </div>
            <!-- single product end -->
            <!-- single product -->
            <div class="group rounded bg-white shadow overflow-hidden">
              <!-- product image -->
              <div class="relative">
                <img
                  src="{% static 'images/products/product9.jpg' %}"
                  class="w-full"
                />
                <div
                  class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
                >
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="fas fa-search"></i>
                  </a>
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="far fa-heart"></i>
                  </a>
                </div>
              </div>
              <!-- product image end -->
              <!-- product content -->
              <div class="pt-4 pb-3 px-4">
                <a href="#">
                  <h4
                    class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
                  >
                    Guyer chair
                  </h4>
                </a>
                <div class="flex items-baseline mb-1 space-x-2">
                  <p class="text-xl text-primary font-roboto font-semibold">
                    45.00br
                  </p>
                  <p class="text-sm text-gray-400 font-roboto line-through">
                    55.00br
                  </p>
                </div>
                <div class="flex items-center">
                  <div class="flex gap-1 text-sm text-yellow-400">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                  </div>
                  <div class="text-xs text-gray-500 ml-3">(150)</div>
                </div>
              </div>
              <!-- product content end -->
              <!-- product button -->
              <a
                href="#"
                class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition"
              >
                Add to Cart
              </a>
              <!-- product button end -->
            </div>
            <!-- single product end -->
            <!-- single product -->
            <div class="group rounded bg-white shadow overflow-hidden">
              <!-- product image -->
              <div class="relative">
                <img
                  src="{% static 'images/products/product1.jpg' %}"
                  class="w-full"
                />
                <div
                  class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
                >
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="fas fa-search"></i>
                  </a>
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="far fa-heart"></i>
                  </a>
                </div>
              </div>
              <!-- product image end -->
              <!-- product content -->
              <div class="pt-4 pb-3 px-4">
                <a href="#">
                  <h4
                    class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
                  >
                    Guyer chair
                  </h4>
                </a>
                <div class="flex items-baseline mb-1 space-x-2">
                  <p class="text-xl text-primary font-roboto font-semibold">
                    45.00br
                  </p>
                  <p class="text-sm text-gray-400 font-roboto line-through">
                    55.00br
                  </p>
                </div>
                <div class="flex items-center">
                  <div class="flex gap-1 text-sm text-yellow-400">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                  </div>
                  <div class="text-xs text-gray-500 ml-3">(150)</div>
                </div>
              </div>
              <!-- product content end -->
              <!-- product button -->
              <a
                href="#"
                class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition"
              >
                Add to Cart
              </a>
              <!-- product button end -->
            </div>
            <!-- single product end -->
            <!-- single product -->
            <div class="group rounded bg-white shadow overflow-hidden">
              <!-- product image -->
              <div class="relative">
                <img
                  src="{% static 'images/products/product8.jpg' %}"
                  class="w-full"
                />
                <div
                  class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
                >
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="fas fa-search"></i>
                  </a>
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="far fa-heart"></i>
                  </a>
                </div>
              </div>
              <!-- product image end -->
              <!-- product content -->
              <div class="pt-4 pb-3 px-4">
                <a href="#">
                  <h4
                    class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
                  >
                    Guyer chair
                  </h4>
                </a>
                <div class="flex items-baseline mb-1 space-x-2">
                  <p class="text-xl text-primary font-roboto font-semibold">
                    45.00br
                  </p>
                  <p class="text-sm text-gray-400 font-roboto line-through">
                    55.00br
                  </p>
                </div>
                <div class="flex items-center">
                  <div class="flex gap-1 text-sm text-yellow-400">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                  </div>
                  <div class="text-xs text-gray-500 ml-3">(150)</div>
                </div>
              </div>
              <!-- product content end -->
              <!-- product button -->
              <a
                href="#"
                class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition"
              >
                Add to Cart
              </a>
              <!-- product button end -->
            </div>
            <!-- single product end -->
            <!-- single product -->
            <div class="group rounded bg-white shadow overflow-hidden">
              <!-- product image -->
              <div class="relative">
                <img
                  src="{% static 'images/products/product10.jpg' %}"
                  class="w-full"
                />
                <div
                  class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
                >
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="fas fa-search"></i>
                  </a>
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="far fa-heart"></i>
                  </a>
                </div>
              </div>
              <!-- product image end -->
              <!-- product content -->
              <div class="pt-4 pb-3 px-4">
                <a href="#">
                  <h4
                    class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
                  >
                    Guyer chair
                  </h4>
                </a>
                <div class="flex items-baseline mb-1 space-x-2">
                  <p class="text-xl text-primary font-roboto font-semibold">
                    45.00br
                  </p>
                  <p class="text-sm text-gray-400 font-roboto line-through">
                    55.00br
                  </p>
                </div>
                <div class="flex items-center">
                  <div class="flex gap-1 text-sm text-yellow-400">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                  </div>
                  <div class="text-xs text-gray-500 ml-3">(150)</div>
                </div>
              </div>
              <!-- product content end -->
              <!-- product button -->
              <a
                href="#"
                class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition"
              >
                Add to Cart
              </a>
              <!-- product button end -->
            </div>
            <!-- single product end -->
            <!-- single product -->
            <div class="group rounded bg-white shadow overflow-hidden">
              <!-- product image -->
              <div class="relative">
                <img
                  src="{% static 'images/products/product11.jpg' %}"
                  class="w-full"
                />
                <div
                  class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
                >
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="fas fa-search"></i>
                  </a>
                  <a
                    href="#"
                    class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center"
                  >
                    <i class="far fa-heart"></i>
                  </a>
                </div>
              </div>
              <!-- product image end -->
              <!-- product content -->
              <div class="pt-4 pb-3 px-4">
                <a href="#">
                  <h4
                    class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"
                  >
                    Guyer chair
                  </h4>
                </a>
                <div class="flex items-baseline mb-1 space-x-2">
                  <p class="text-xl text-primary font-roboto font-semibold">
                    45.00br
                  </p>
                  <p class="text-sm text-gray-400 font-roboto line-through">
                    55.00br
                  </p>
                </div>
                <div class="flex items-center">
                  <div class="flex gap-1 text-sm text-yellow-400">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                  </div>
                  <div class="text-xs text-gray-500 ml-3">(150)</div>
                </div>
              </div>
              <!-- product content end -->
              <!-- product button -->
              <a
                href="#"
                class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition"
              >
                Add to Cart
              </a>
              <!-- product button end -->
            </div>
            <!-- single product end -->
          </div>
          <!-- product wrapper end -->
        </div>
        <!-- recomended for you end -->
      </div>
    </section>

    <script>
      let page = 2; // start from the second page
      window.onscroll = function (ev) {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
          // you're at the bottom of the page
          fetch(`/store?page=${page}`)
            .then((response) => {
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              return response.json();
            })
            .then((data) => {
              if (data.end) {
                window.onscroll = null; // remove the event handler
              } else {
                data.products.forEach((product) => {
                  // create a new product card
                  let card = document.createElement("div");
                  card.className = "flex flex-col";
                  card.innerHTML = `
                              <div class="m-2 bg-white shadow-md rounded-lg overflow-hidden flex-grow">
                                  <a href="${product.get_store_url}">
                                      <div class="w-full sm:h-32 md:h-64 overflow-hidden">
                                          <img class="w-full h-full object-cover" src="${product.product_images}" alt="${product.product_name}">
                                      </div>
                                  </a>
                                  <div class="sm:p-3 md:p-6">
                                      <a href="${product.get_store_url}" class="block text-lg font-semibold text-gray-800 hover:text-blue-600">${product.product_name}</a>
                                      <div class="my-2 md:my-4 text-blue-600 md:text-2xl">${product.product_price} birr</div>
                                  </div>
                              </div>
                          `;
                  // append the new product card to the product list
                  document.querySelector("#product-list").appendChild(card);
                });
                page++;
              }
            })
            .catch((error) => {
              console.error(
                "There has been a problem with your fetch operation:",
                error
              );
            });
        }
      };
    </script>
  </div>
</div>
{% endblock %}
