{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grid grid-cols-4 md:grid-cols-12 gap-2">

  <style>
    @media (max-width: 768px) {
        #dropdown-content {
            left: 50%;
            transform: translateX(-50%);
            right: initial;
        }
    }
  </style>
  <div class="col-span-10">
    <section class="section-name">
      <div class="container">
        <!-- Product list -->
        <div id="product-list" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-1 2xl:gap-3">
          {% for product in products %}
          <div class="flex flex-col">
            <div class="m-2 bg-white shadow-md rounded-lg overflow-hidden flex-grow">
              <a href="{{product.get_store_url}}" class="relative">
                <div class="w-full h-32 2xl:h-64 overflow-hidden relative">
                  {% with product.get_main_image as main_image %}
                  {% if main_image %}
                  <img class="w-full h-full object-cover" src="{{ main_image.image.url }}" alt="{{ product.product_name }}">
                  <div class="absolute inset-0 flex items-center justify-center">
                    <span class="text-red-500 text-lg md:text-2xl font-thin p-2 rounded"><i class="fas fa-star"></i> tanabeles</span>
                  </div>
                  {% endif %}
                  {% endwith %}
                </div>
              </a>
              <div class="sm:p-2 pl-4 md:pl-2  2xl:pl-6 md:pt-0 md:pb-1">
                <a href="{{product.get_store_url}}" class="block text-base lg:text-sm  2xl:text-lg font-semibold text-gray-800 hover:text-blue-600">{{ product.get_short_name|capfirst }}</a>
                <div class="my-0 2xl:my-2 text-blue-600 text-sm md:text-base">
                  {% load price_filters%}
                  {{ product.default_price }} br
                </div>
                <div class="flex items-center">
                  <div class="flex gap-1 text-sm text-yellow-400">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                  </div>
                  <div class="text-xs text-gray-500 ml-3">(150)</div>
                </div>
              </div>
              <div class="bg-blue-600  hover:text-purple-400 text-center py-2 rounded-b mt-1">
                <a href="{{product.get_store_url}}" class="text-white  w-full inline-block">Show Details</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- End of product list -->
      </div>
    </section>
  </div>
</div>
{% endblock %}
